<template>
    <div class="goods">
      <div class="menu-wrapper" ref="menuWrapper">
        <ul>
          <li v-for="(item, index) in goods" class="menu-item" :key="'menu'+item.name" :class="{'current-class':currentIndex === index}"
              @click="selectMenu(index)">
            <span class="text">
              <span v-if="item.type>=0" class="icon" :class="classMap[item.type]"></span>{{item.name}}
            </span>
          </li>
        </ul>
      </div>
      <div class="foods-wrapper" ref="foodWrapper">
        <ul>
          <li class="food-list food-list-hook" v-for="item in goods" :key="'foods'+item.name">
            <h1 class="list-name">{{item.name}}</h1>
            <ul>
              <li v-for="food in item.foods" class="food-item" :key="'food'+food.name">
                <div class="icon">
                  <img :src="food.icon" width="64" height="64">
                </div><!--
                --><div class="detail">
                  <h1 class="name">{{food.name}}</h1>
                  <div class="desc">{{food.description}}</div>
                  <div class="extra">
                    <span>月售{{food.sellCount}}份</span><span>好评率:{{food.rating}}%</span>
                  </div>
                  <div class="price">
                    <span class="price-true">￥{{food.price}}</span><span v-show="food.oldPrice" class="price-old">￥{{food.oldPrice}}</span>
                  </div>
                </div>
                <counter class="food-counter" :food="food"></counter>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <shop-cart :extra-fee="extraFee" :start-fee="startFee" :select-foods="selectFoods"></shop-cart>
    </div>
</template>

<script>
import BScroll from 'better-scroll';
import shopCart from '../../shopcart/shopcart';
import Counter from '../../counter/counter';

export default {
  components: {
    'shop-cart': shopCart,
    'counter': Counter
  },
  name: 'goods',
  data() {
    return {
      goods: [],
      foodListHeight: [],
      scrollY: 0,
      extraFee: 5,
      startFee: 20
    };
  },
  created() {
    const ERR_OK = 0;
    this.$http.get('/api/goods').then((res) => {
      res = res.body;
      console.log('res:');
      console.log(res);
      if (res.errno === ERR_OK) {
        this.goods = res.data;
        this.$nextTick(() => {
          this._initialScroll();
          this._calcItemHeight();
        });
      }
    });
    this.classMap = ['decrease', 'discount', 'special', 'invoice', 'guarantee'];
  },
  computed: {
    currentIndex: function () {
      for (let j = 0; j < this.foodListHeight.length; j++) {
        if (this.foodListHeight[j + 1]) {
          if (this.scrollY >= this.foodListHeight[j] && this.scrollY < this.foodListHeight[j + 1]) {
            return j;
          }
        } else {
          return 0;
        }
      }
    },
    selectFoods() {
      let selectFoods = [];
      this.goods.forEach((good) => {
        good.foods.forEach((food) => {
          if (food.count) {
            selectFoods.push(food);
          }
        });
      });
      return selectFoods;
    }
  },
  methods: {
    _initialScroll () {
      this.menuScroll = new BScroll(this.$refs.menuWrapper, {
        click: true
      });
      this.foodScroll = new BScroll(this.$refs.foodWrapper, {
        probeType: 3
      });
      this.foodScroll.on('scroll', (pos) => {
        this.scrollY = Math.abs(Math.round(pos.y));
      });
    },
    _calcItemHeight () {
      let foodList = this.$refs.foodWrapper.getElementsByClassName('food-list-hook');
      let height = 0;
      this.foodListHeight.push(height);
      for (let i = 0; i < foodList.length; i++) {
        height += foodList[i].scrollHeight;
        this.foodListHeight.push(height);
      }
    },
    selectMenu (index) {
      let foodList = this.$refs.foodWrapper.getElementsByClassName('food-list-hook');
      let el = foodList[index];
      this.foodScroll.scrollToElement(el, 300);
    }
  }
};
</script>

<style rel="stylesheet/stylus" lang="stylus">
  @import "../../../common/stylus/index.styl"
  .goods
    position: absolute
    display: flex
    width: 100%
    top: 179px
    bottom: 46px
    overflow: hidden
    .menu-wrapper
      flex: 0 0 80px
      width: 80px
      background: #f3f5f7
      .menu-item
        width: 56px
        height: 54px
        padding: 0 12px
        cursor: pointer
        .icon
          display: inline-block
          vertical-align: top
          width: 12px
          height: 12px
          background-size: 12px 12px
          background-repeat: no-repeat
          margin-right: 2px
          &.decrease
            bg-image("decrease_3")
          &.discount
            bg-image("discount_3")
          &.guarantee
            bg-image("guarantee_3")
          &.special
            bg-image("special_3")
        .text
          display: table-cell
          vertical-align: middle
          line-height: 14px
          height: 54px
          width: 56px
          font-size: 12px
          border-1px(rgba(7,17,27,0.1))
      .current-class
        background: #fff
        font-weight: 700
    .foods-wrapper
      flex: 1
      .list-name
        height: 26px
        background: #f3f5f7
        font-size: 12px
        line-height: 26px
        color: rgb(147,153,159)
        padding-left: 14px
        border-left: 2px solid #d9dde1
      .food-item
        display: flex
        position: relative
        margin: 18px 18px 0 18px
        padding-bottom: 18px
        border-1px(rgba(7,17,27,0.1))
        cursor: pointer
        &:last-child
          border-none()
          margin-bottom: 0
        .icon
          flex: 0 0 64px
          display: inline-block
          vertical-align: top
        .detail
          flex: 1
          display: inline-block
          vertical-align: top
          margin: 2px 0 0 10px
          .name
            font-size: 14px
            line-height: 14px
            color: rgb(7,17,27)
            margin-bottom: 8px
          .desc
            font-size: 10px
            line-height: 10px
            color: rgb(147,153,159)
            margin-bottom: 8px
          .extra
            font-size: 10px
            line-height: 10px
            color: rgb(147,153,159)
            margin-bottom: 8px
            &>span
              margin-right: 12px
          .price
            font-size: 14px
            line-height: 24px
            font-weight: 700
            color: red
            .price-old
              margin-left: 8px
              font-size: 10px
              text-decoration: line-through
        .food-counter
          position: absolute
          right: 18px
          bottom: 18px
          height: 18px
          z-index: 100

</style>
