<template>
  <div class="counter-wrapper">
    <span class="circle-sub" v-show="food.count > 0" @click="productCountSub">-</span>
    <span class="count" v-show="food.count > 0">{{food.count}}</span>
    <span class="circle-add" @click="productCountAdd">+</span>
  </div>
</template>

<script>
export default {
  name: 'counter',
  props: {
    food: {
      type: Object
    }
  },
  methods: {
    productCountSub: function () {
      return this.food.count--;
    },
    productCountAdd() {
      return this.food.count++;
    }
  }
};
</script>

<style rel="stylesheet/stylus" lang="stylus">
  .counter-wrapper
    height: 16px
    text-align: center
    font-size: 16px
    line-height:10px
    .circle-sub
      display: inline-block
      border: 2px solid blue;
      width: 12px
      height: 12px
      -webkit-border-radius: 8px
      -moz-border-radius: 8px
      border-radius: 8px
    .circle-add
      display: inline-block
      border: 2px solid blue;
      width: 12px
      height: 12px
      -webkit-border-radius: 8px
      -moz-border-radius: 8px
      border-radius: 8px
</style>
