<template>
  <div class="v-header">
    <div class="content-wrapper">
      <div class="avatar">
        <img width="64" height="64" :src="seller.avatar">
      </div>
      <div class="content">
        <div class="title">
          <span class="brand"></span>
          <span class="name">{{seller.name}}</span>
        </div>
        <div class="description">
          {{seller.description}}/{{seller.deliveryTime}}分钟送达
        </div>
        <div v-if="seller.supports" class="supports">
          <span class="icon" :class="classMap[seller.supports[0].type]"></span>
          <span class="text">{{seller.supports[0].description}}</span>
        </div>
      </div>
      <div v-if="seller.supports" class="supports-count" @click="showDetail">
        <span class="count">{{seller.supports.length}}个</span>
        <span class="icon-keyboard_arrow_right">></span>
      </div>
    </div>
    <div class="bulletin-wrapper" @click="showDetail">
      <span class="bulletin-title"></span><span class="bulletin-text">{{seller.bulletin}}</span>
      <i>></i>
    </div>
    <div class="background">
      <img :src="seller.avatar"/>
    </div>
    <div class="detail" v-show="detailShow">
      <div class="detail-name">{{seller.name}}</div>
      <!--<div class="detail-star">
        <span class="on-star" v-for="n in detailOnStar.onScore" :key="'onStar' + n"></span>
        <span class="half-star" v-show="detailOnStar.halfScore" v-for="n in halfScore" :key="'halfStar' + n"></span>
      </div>-->
      <div class="detail-discount">
        <div class="detail-discount-head">
          <hr class="detail-line-left"/>
          <span class="line-msg">优惠信息</span>
          <hr class="detail-line-right"/>
        </div>
        <div class="detail-discount-content" v-if="seller.supports">
          <div class="discount-content-detail" v-for="(i,index) in seller.supports" :key="'discount-content'+index">
            <span class="icon" :class="classMap[seller.supports[index].type]"></span>
            <span class="text">{{seller.supports[index].description}}</span>
          </div>
        </div>
      </div>
      <div class="detail-bulletin">
        <div class="detail-bulletin-head">
          <hr class="detail-line-left"/>
          <span class="line-msg">商家公告</span>
          <hr class="detail-line-right"/>
        </div>
        <div class="detail-bulletin-content" v-if="seller.supports">
          <div class="bulletin-content">
            {{seller.bulletin}}
          </div>
        </div>
      </div>
      <span class="detail-close" @click="hiddenDetail">x</span>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  name: 'header',
  data() {
    return {
      detailShow: false,
      seller: {}
    };
  },
  computed: {
    detailOnStar: function() {
      let onScore = Math.floor(this.seller.score);
      let halfScore = 0;
      if (this.seller.score - onScore) {
        halfScore = 1;
      }
      return {
        onScore: onScore,
        halfScore: halfScore
      };
    }
  },
  methods: {
    showDetail: function() {
      this.detailShow = !this.detailShow;
    },
    hiddenDetail: function() {
      this.detailShow = !this.detailShow;
    }
  },
  created() {
    const ERR_OK = 0;
    this.$http.get('/api/seller').then((res) => {
      res = res.body;
      if (res.errno === ERR_OK) {
        this.seller = res.data;
        console.log('print seller name:' + this.seller.supports[0].type);
      }
    });
    this.classMap = ['decrease', 'discount', 'special', 'invoice', 'guarantee'];
  }
};
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../../common/stylus/mixin.styl"
  .v-header
    position: relative
    color: #fff
    background: rgba(7,17,27,0.5)
    overflow: hidden
    .content-wrapper
      position: relative
      padding: 24px 12px 18px 24px
      .avatar
        display: inline-block
        img
          border-radius : 2
      .content
        display: inline-block
        font-size: 14px
        margin-left: 16px
        vertical-align: top
        .title
          margin: 2px 0 8px 0
          .brand
            display: inline-block
            vertical-align: top
            width: 30px
            height: 18px
            bg-image('brand')
            background-size: 30px 18px
            background-repeat: no-repeat
          .name
            margin-left: 6px
            font-size: 16px
            line-height: 18px
            font-weight: bold
        .description
            margin-bottom:10px
            font-size: 12px
            line-height: 12px
        .supports
          margin-bottom: 2px
         .icon
            display: inline-block
            width: 12px
            height : 12px
            margin-right: 4px
            background-size: 12px 12px
            background-repeat: none
            &.decrease
              bg-image('decrease_1')
            &.discount
              bg-image('discount_1')
            &.guarantee
              bg-image('guarantee_1')
            &.invoice
              bg-image('invoice_1')
            &.special
              bg-image('special_1')
          .text
            font-size: 12px
            vertical-align: top
      .supports-count
        position: absolute
        padding: 0 8px
        bottom: 14px
        right: 12px
        height: 24px
        -webkit-border-radius: 14px
        -moz-border-radius: 14px
        border-radius: 14px
        background: rgba(0,0,0,0.2)
        text-align: center
        cursor: pointer
        .count
          font-size: 12px
          line-height: 24px
          margin-right: 2px
        .icon-keyboard_arrow_right
          font-size: 12px
          line-height: 24px
    .bulletin-wrapper
      position: relative
      height: 28px
      padding: 0 16px 0 12px
      line-height: 28px
      background: rgba(7,17,27,0.2)
      white-space: nowrap
      overflow: hidden
      -ms-text-overflow: ellipsis
      text-overflow: ellipsis
      .bulletin-title
        display: inline-block
        width: 22px
        height: 12px
        bg-image('bulletin')
        background-size: 22px 12px
        background-repeat: no-repeat
        margin-right: 4px
      .bulletin-text
        vertical-align: top
        font-size: 10px
        margin-right: 4px
      &>i
        position: absolute
        display: inline-block
        right: 12px
        bottom: 0
        font-size: 10px
    .background
      position:absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: -1
      filter: blur(10px)
      img
        width: 100%
        height: 100%
    .detail
      position: fixed
      top: 0
      left: 0
      z-index: 100
      width: 100%
      height: 100%
      overflow: auto
      background: rgba(7,17,27,0.8)
      .detail-name
        margin: 64px 0 16px 0
        text-align: center
        font-size: 16px
        font-weight: 700
        line-height: 16px
      .detail-star
        height: 24px
        margin-bottom: 28px
        text-align: center
        font-size: 0
        .on-star
          display: inline-block
          width: 10px
          height: 10px
          background-size: 10px 10px
          bg-image('star24_on')
          margin-right: 10px
        .half-star
          display: inline-block
          width: 10px
          height: 10px
          background-size: 10px 10px
          bg-image('star24_half')
      .detail-discount
        margin: 0 36px
        .detail-discount-head
          text-align: center
          .detail-line-left
            display: inline-block
            width: 112px
            vertical-align: middle
          .detail-line-right
            display: inline-block
            width: 112px
            vertical-align: middle
          .line-msg
            font-size: 14px
            font-weight: 700
            line-height: 14px
            vertical-align: middle
        .detail-discount-content
          margin: 24px 12px 28px 12px
          .icon
            display: inline-block
            width: 12px
            height : 12px
            margin-right: 4px
            background-size: 12px 12px
            background-repeat: none
            vertical-align: top
            &.decrease
              bg-image('decrease_1')
            &.discount
              bg-image('discount_1')
            &.guarantee
              bg-image('guarantee_1')
            &.invoice
              bg-image('invoice_1')
            &.special
              bg-image('special_1')
          .text
            font-size: 12px
            vertical-align: top
            line-height: 12px
      .detail-bulletin
        margin: 0 36px
        .detail-bulletin-head
          text-align: center
          .detail-line-left
            display: inline-block
            width: 112px
            vertical-align: middle
          .detail-line-right
            display: inline-block
            width: 112px
            vertical-align: middle
          .line-msg
            font-size: 14px
            font-weight: 700
            line-height: 14px
            vertical-align: middle
        .detail-bulletin-content
          margin: 24px 12px 0 12px
          line-height: 24px
          font-size: 12px
      .detail-close
        position: absolute
        display: block
        font-size: 32px
        color: rgba(255,255,255,0.8)
        text-align: center
        line-height: 30px
        bottom: 10px
        left: 50%
        -webkit-transform: translateX(-50%)
        -moz-transform: translateX(-50%)
        -ms-transform: translateX(-50%)
        -o-transform: translateX(-50%)
        transform: translateX(-50%)
        cursor: pointer

</style>
