body,html,ul,li,h1,img
  font-weight: 200
  margin: 0
  padding: 0
ul,li{
  list-style: none
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.7)
      -moz-transform: scaleY(0.7)
      -ms-transform: scaleY(0.7)
      -o-transform: scaleY(0.7)
      transform: scaleY(0.7)
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.5)
      -moz-transform: scaleY(0.5)
      -ms-transform: scaleY(0.5)
      -o-transform: scaleY(0.5)
      transform: scaleY(0.5)
