<template>
  <div id="app">
    <v-header></v-header>
    <v-tab></v-tab>
    <router-view></router-view>
  </div>
</template>

<script type="text/ecmascript-6">
import h from './components/header/v-header';
import t from './components/tab/v-tab';

export default {
  components: {
    'v-header': h,
    'v-tab': t
  }
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>
