<template>
  <div class="shop-cart">
    <div class="content" @click="toggleList">
      <div class="content-left">
        <div class="logo-wrapper">
          <div class="logo-circle-outer">
            <div class="logo-circle-inner">cart</div>
          </div>
          <div class="red-icon" v-if="totalCount > 0">{{totalCount}}</div>
        </div>
        <div class="total-price" :class="{'high-light': totalPriceCalc > 0}">￥{{totalPriceCalc}}</div>
        <div class="extra-fee">另需配送费￥{{extraFee}}元</div>
      </div>
      <div class="content-right">
        <div class="pay" :class="payClass">
          {{payDec}}
        </div>
      </div>
    </div>
    <transition name="fade">
      <div class="shopcart-list" v-show="listShow">
        <div class="list-header">
          <span class="title">购物车</span>
          <span class="empty" @click="clearAll">清空</span>
        </div>
        <div class="list-content" ref="detailCart">
          <ul>
            <li class="food" v-for="food in selectFoods" :key="'sfood' + food.name">
              <span class="food-name">{{food.name}}</span>
              <span class="food-price">￥{{food.price * food.count}}</span>
              <div class="cartcontrol-wrapper">
                <Counter :food="food"></Counter>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </transition>

  </div>
</template>

<script>
import Counter from '../counter/counter';
import BScroll from 'better-scroll';
export default {
  name: 'shopcart',
  components: {
    Counter
  },
  props: {
    extraFee: {
      type: Number,
      default() {
        return 0;
      }
    },
    startFee: {
      type: Number,
      default() {
        return 0;
      }
    },
    selectFoods: {
      type: Array,
      default() {
        return [{'count': 0, 'price': 10}];
      }
    }
  },
  data() {
    return {
      fold: true
    };
  },
  computed: {
    totalPriceCalc() {
      let totalPrice = 0;
      this.selectFoods.forEach((food) => {
        totalPrice += food.count * food.price;
      });
      return totalPrice;
    },
    totalCount() {
      let totalCount = 0;
      this.selectFoods.forEach((food) => {
        totalCount += food.count;
      });
      return totalCount;
    },
    payDec() {
      if (this.totalPriceCalc === 0) {
        return `￥${this.startFee}元起送`;
      } else if (this.totalPriceCalc < this.startFee) {
        return `还差￥${this.startFee - this.totalPriceCalc}元起送`;
      } else {
        return '去结算';
      }
    },
    payClass() {
      if (this.startFee > this.totalPriceCalc) {
        return 'not-enough';
      } else {
        return 'enough';
      }
    },
    listShow() {
      if (!this.totalPriceCalc) {
        this.fold = true;
        return false;
      } else {
        let show = !this.fold;
        if (show) {
          this.$nextTick(() => {
            if (!this.detailScroll) {
              this.detailScroll = new BScroll(this.$refs.detailCart, {});
            } else {
              this.detailScroll.refresh();
            }
          });
        }
        return show;
      }
    }
  },
  methods: {
    toggleList() {
      if (!this.totalPriceCalc) {
        return;
      }
      this.fold = !this.fold;
    },
    clearAll() {
      this.selectFoods.forEach((food) => {
        food.count = 0;
      });
    }
  }
};
</script>

<style rel="stylesheet/stylus" lang="stylus">
  .shop-cart
    position: fixed
    bottom: 0
    left: 0
    height: 46px
    width: 100%
    background: #141d27
    z-index: 50
    .content
      display: flex
      font-size: 12px
      color: rgba(255,255,255,0.4)
      font-weight: 700
      line-height: 24px
      .content-left
        flex: 1
        .logo-wrapper
          position: relative
          display: inline-block
          height: 46px
          width: 56px
          margin: 0 12px
          .logo-circle-outer
            position: absolute
            width: 56px
            height: 56px
            -webkit-border-radius: 28px
            -moz-border-radius: 28px
            border-radius: 28px
            margin-top: -12px
            background: #141d27
          .logo-circle-inner
            width: 44px
            height: 44px
            -webkit-border-radius: 22px
            -moz-border-radius: 22px
            border-radius: 22px
            background: #435260
            margin: 6px
            text-align: center
            line-height: 44px
            color: #fff
          .red-icon
            position: absolute
            width: 24px
            height: 12px
            background-color: red
            top: -15px
            right: 0
            -webkit-border-radius: 6px
            -moz-border-radius: 6px
            border-radius: 6px
            font-size: 10px
            color: #fff
            text-align: center
            line-height: 12px
        .total-price
          display: inline-block
          vertical-align: top
          margin: 10px 12px 12px 0
          &.high-light
            color: white
        .extra-fee
          display: inline-block
          vertical-align: top
          margin: 10px 0 12px 0
          padding-left: 12px
          border-left: 1px solid rgba(255,255,255,0.1)
      .content-right
        flex: 0 0 105px
        .pay
          height: 24px
          background: rgb(43,51,59)
          margin-left: 12px
          text-align: center
          padding: 10px 0 12px 0
          &.not-enough
            background: #2b333b
          &.enough
            background: #00b430
            color: white
    .shopcart-list
      position: absolute
      top: 0
      left: 0
      z-index: -1
      width: 100%
      background: #fff
      -webkit-transform: translate(0,-100%)
      -moz-transform: translate(0,-100%)
      -ms-transform: translate(0,-100%)
      -o-transform: translate(0,-100%)
      transform: translate(0,-100%)
      &.fade-enter-active, &.fade-leave-active
        transition: all 0.5s
        transform: translate3d(0,-100%,0)
      &.fade-enter, &.fade-leave-to
        transform: translate3d(0,0,0)
      .list-header
        height: 40px
        width: 100%
        background: #f3f5f7
        font-size: 14px
        line-height: 40px
        color: rgb(7,17,27)
        border-bottom: 1px solid rgba(7,17,27,0.1)
        .title
          display: inline-block
          margin-left: 18px
        .empty
          display: inline-block
          position: absolute
          right: 18px
          color: rgb(0,160,220)
          cursor: pointer
      .list-content
        position: relative
        font-size: 14px
        color: rgb(7,17,27)
        line-height: 24px
        max-height: 221px
        overflow: hidden
        .food
          position: relative
          margin-left: 18px
          margin-right: 18px
          padding-top: 12px
          padding-bottom: 12px
          border-bottom: 1px solid rgba(7,17,27,0.1)
          .food-price
            position: absolute
            right: 49px
            display: inline-block
            margin-left: 18px
            margin-right: 12px
            color: rgb(240,20,20)
          .cartcontrol-wrapper
            position: absolute
            display: inline-block
            right: 0
            bottom: 16px

</style>






